body {
  margin: 0;
  padding: 0;
  background-color: rgb(191, 122, 233);
}
.bob {
  width: 200px;
  height: 200px;
  background-color: rgb(238, 205, 170);
  border-radius: 50%;
  position: absolute;
  bottom: 100px;
  left: 100px;
}
.eye-container {
  display: flex;
  position: relative;
  left: 48px;
  top: 40px;
}
.eye {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin: 0px 11px;
}
.eye::after {
  content: "";
  display: block;
  background-color: rgb(0, 0, 0);
  width: 21px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  left: 27px;
  top: 14px;
}
